flask
gunicorn
numpy
sklearn
pandas
requests
torch
jupyter
nbdev
graphviz
azure
azure-cognitiveservices-vision-customvision
azure-cognitiveservices-vision-computervision
azure-cognitiveservices-search-websearch
azure-cognitiveservices-search-imagesearch
fastai2
