flask
gunicorn
numpy
sklearn
pandas
requests
https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp36-cp36m-linux_x86_64.whl
nbdev
graphviz
fastai2
ipykernel
resources
staty
jupyter
azure-cognitiveservices-vision-customvision
azure-cognitiveservices-vision-computervision
azure-cognitiveservices-search-websearch
azure-cognitiveservices-search-imagesearch
